.root {
    -fx-background-color: #15151e;
    -fx-font-family: "Segoe UI", sans-serif;
}

.label {
    -fx-text-fill: #f0f0f0;
}

.dashboard-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #e10600;
}

.view-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #e10600;
}

.button {
    -fx-background-color: #e10600;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: #ff1e0f;
}

.table-view {
    -fx-background-color: #1f1f2b;
}
